<!-- templates/includes/gp.html -->
<form method="GET" action="{% url 'gp' %}" id="password-form">
  {% csrf_token %}

  <p>Su nueva contraseña es: {{ password }}</p>
  <label for="length">Longitud:</label>
  <input type="number" name="length" id="length" min="8" max="64" value="16">
  <br>
  <label for="include_uppercase">Incluir mayúsculas:</label>
  <input type="checkbox" name="include_uppercase" id="include_uppercase" checked>
  <br>
  <label for="include_numbers">Incluir números:</label>
  <input type="checkbox" name="include_numbers" id="include_numbers" checked>
  <br>
  <button type="submit" id="generate-password">Generar contraseña</button>
</form>

<script>
$(document).ready(function() {
$('#generate-password').click(function(e) {
  e.preventDefault(); // Detener el comportamiento por defecto del botón
  $.ajax({
    url: $('#password-form').attr('action'),
    type: 'POST',
    data: $('#password-form').serialize(),
    success: function(response) {
      // Actualizar el contenido de la página con la nueva contraseña generada
      $('#password-result').html(response.password);
    },
    error: function() {
      alert('Error al generar contraseña');
    }
  });
});
});  
</script>
