<!-- templates/includes/gp.html -->
<form method="GET" action="{% url 'gp' %}" id="password-form">
  {% csrf_token %}

  <p>Su nueva contraseña es: </p>
  <h2> {{ password }} </h2>
  <label for="length" class="text-muted">Longitud:</label>
  <input type="number" name="length" id="length" min="8" max="64" value="16">
  <br>
  <label for="include_uppercase" class="text-muted">Incluir mayúsculas:</label>
  <input type="checkbox" name="include_uppercase" id="include_uppercase" checked>
  <br>
  <label for="include_numbers" class="text-muted">Incluir números:</label>
  <input type="checkbox" name="include_numbers" id="include_numbers" checked>
  <br>
  <button type="submit" class="btn btn-primary" style="margin: 1rem auto 0 auto;display: block;" id="generate-password">Generar contraseña</button>
  {% comment %} <button id="generate-password-btn">Generar contraseña 2</button> {% endcomment %}
</form>
