{% extends 'index.html' %}
{% block title %}My Form{% endblock %}
{% block content %}

<header class="page-header page-header-mini">
    <h1 class="headertitle"> Servicios </h1>
    <ol class="breadcrumb pb-0">
        <li class="breadcrumb-item"> Ofrecemos </li>
    </ol>
</header>

<div class="instagram-wrapper mt-5">
    <div class="ig-id">
        <a href="javascript:void(0)"> ¿Que ofrecemos? </a>
    </div>
    <a href="javascript:void(0)" class="insta-item">
        <img src="https://www.free-css.com/assets/images/free-css-templates/page280/foodhut.jpg" 
        alt="" 
        class="w-service">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="https://www.free-css.com/assets/images/free-css-templates/page280/foodhut.jpg" alt="" class="w-service">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="https://images.unsplash.com/photo-1683925313021-7774761dc773?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=654&q=80" alt="" class="w-service">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="assets/imgs/insta-4.jpg" alt="" class="w-service">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="assets/imgs/insta-5.jpg" alt="" class="w-service">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
    <a href="javascript:void(0)" class="insta-item">
        <img src="assets/imgs/insta-6.jpg" alt="" class="w-service">
        <div class="overlay">
            <span>
                <i class="ti-heart"></i> 23
            </span>
            <span>
                <i class="ti-comment"></i> 12
            </span>
        </div>
    </a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="margin: 0 auto;">
            <form method="POST" action="/">
                {% csrf_token %}
                <div class="form-group">
                    <label for="mytext">MyText</label>
                    <input type="text" id="mytext" name="mytext" class="form-control">
                </div>
                <div class="form-group">
                    <label for="mytextarea">MyTextarea</label>
                    <textarea id="mytextarea" name="mytextarea" class="form-control" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" style="margin: 0 auto;
                    display: block;">Submit</button> 
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}